#!/usr/bin/perl

use strict;
use warnings;



sub usage
{
	print STDERR "usage: $0 <mountpoint>\n\n";
	print STDERR "Locate and mount a db5 filesystem to <mountpoint>.\n";
	print STDERR "<mountpoint> must exist and be a directory.\n";
	exit 1;
}

sub locate_db5fs
{
	open(MTAB, "/etc/mtab") || die("error while accessing /etc/mtab");

	while(my $line = <MTAB>)
	{
		my @fields = split(/ /, $line);
		my ($dev, $mount, $sys, $model);
		
		$dev = $fields[0];
		$mount = $fields[1];

		$mount =~ s/\/$//;

		if ($sys = `udevadm info -q path -n "$dev" 2> /dev/null`)
		{
			my @properties = `udevadm info -q property -p $sys 2> /dev/null`;
			$model = (grep(/ID_MODEL=/, @properties))[0];
			$model =~ s/^ID_MODEL=//g;

			if ($model =~ m/^HDD/)
			{
				close(MTAB);
				return $mount;
			}
		}

	}
	close(MTAB);

	return 0;
}


if (scalar(@ARGV) ne 1)
{
	&usage();
}
elsif ( ! -d $ARGV[0])
{
	&usage();
}

my $device = &locate_db5fs() || die("unable to find device!\nis fat filesystem mounted?");

print `db5fuse "$device" "$ARGV[0]"`;

